@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

:root {
  --dark: #222222;
  --mid: #616161;
  --text: #222222;
  --bg1: #fbfbfb;
  --bg2: #f1f1f1;
  --bg3: #ededed;
  --accent1: #e55039;
  --accent2: #079d67;
  --main: #b65142;
}

img {
  display: block;
  width: 100%;
}

a {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}

.container {
  margin-bottom: 40px;
  /* width: 1440px; */
}

/* header */
header {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

header .container {
  width: 1440px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

header .container .logo {
  width: 151px;
}

header .container ul {
  display: flex;
}

header .container .nav li {
  margin-right: 55px;
}

header .container .nav li:last-child {
  margin-right: initial;
}

header .container .nav {
  font-size: 25px;
}

header .container .extra li {
  font-size: 16px;
  margin-right: 50px;
  color: var(--main);
}

/* slider */
.slider {
  width: 100%;
  height: 500px;
}

/* content_01 */
.content_01 .container {
  margin: 0 auto;
  margin-bottom: initial;
}

.content_01 .container .bg {
  width: 100%;
  height: 735px;
  background: url(../images/main_slide.jpg)
    no-repeat;
  background-size: cover;
  position: relative;
}

.bg .main_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8%;
}

.bg .main_text h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--accent1);
  text-align: left;
  margin-bottom: 85px;
}

.bg .main_text p {
  line-height: 1.2;
  font-size: 35px;
  color: #666666;
  margin-bottom: 60px;
}

.bg .main_text p span {
  color: #f9af41;
}

.bg .main_text button {
  width: 242px;
  height: 80px;
  font-size: 25px;
  border: 1px solid var(--main);
  background: var(--main);
  color: #f1f1f1;
  cursor: pointer;
}

/* banner */
.banner {
  width: 100%;
  height: 346px;
  background: url(../images/banner.jpeg) no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

/* content_02 */
.content_02 .container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.content_02 .title {
  text-align: center;
}

.content_02 h3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--accent1);
  margin: 40px 0 20px;
}

.content_02 .title p {
  font-size: 20px;
  color: #616161;
  margin-bottom: 60px;
}

.content_02 .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

.content_02 .card_01,
.content_02 .card_02 {
  border: 1px solid red;
  background: #ffffff;
  box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  padding: 36px;
  width: 576px;
  height: 327px;
  text-align: left;
}

.content_02 .cards .photo {
  width: 205px;
  height: 255px;
  margin-right: 15px;
}

.content_02 .cards .card_text {
}
.content_02 .cards .card_text h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content_02 .cards .card_text p {
  font-size: 14px;
  color: #838383;
}

.content_02 .cards .card_text p:first-child {
  font-size: 15px;
}

.content_02 span:nth-child(3) {
  text-align: right;
  font-size: 20px;
  color: var(--accent1);
  text-decoration: underline;
  cursor: pointer;
}
